#aboutSection {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background: white;

  a {
    font-weight: 500;
    text-decoration: none;
  }
}

// ::::::::::::::::::::::::::
// : MEDIA QUERIES - MOBILE :
// ::::::::::::::::::::::::::

// iPhone 5 \ iPod Touch \ 320x568px
@media screen and (max-width: 359px) {
  h2 {
    font-size: 30px;
    line-height: 40px;
  }

  p {
    font-size: 20px;
  }
}

// Samsung Galaxy S7 \ Samsung Galaxy S7 Edge \ 360x640px
// Samsung Galaxy S8 \ Samsung Galaxy S8+ \ 360x740px
// iPhone 6 \ iPhone 6s \ iPhone 7 \ iPhone 8 \ 375x667px
// iPhone X \ 375x812px
@media screen and (min-width: 360px) and (max-width: 410px) {
  h2 {
    font-size: 35px;
    line-height: 45px;
  }

  p {
    font-size: 20px;
  }
}

// Pixel \ Pixel XL \ Pixel 2 \ Pixel 2 XL \ Nexus 6P \ Nexus 5X \ 411x731px
// iPhone 6 Plus \ iPhone 6s Plus \ iPhone 7 Plus \ iPhone 8 Plus \ 414x736px
@media screen and (min-width: 411px) and (max-width: 479px) {
  h2 {
    font-size: 40px;
    line-height: 50px;
  }

  p {
    font-size: 22px;
  }
}

// Samsung Galaxy Note 5 \ LG G5 \ One Plus 3 \ 480x853px
@media screen and (min-width: 480px) and (max-width: 599px) {
  h2 {
    font-size: 45px;
    line-height: 55px;
  }

  p {
    font-size: 22px;
  }
}

// Nexus 7 \ 600x960px
@media screen and (min-width: 600px) and (max-width: 767px) {
  h2 {
    font-size: 55px;
    line-height: 65px;
  }

  p {
    font-size: 22px;
  }
}


// Nexus 9 \ iPad 3rd & 4th gen \ iPad Air 1 & 2 \ iPad mini \ iPad mini 2 & 3 \ 768x1024px
// Samsung Galaxy Tab 10 \ 800x1280px
// iPad pro \ 1024x1366px
// Chromebook pixel \ 1280x850px
// ok
